
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:rgb(255, 255, 255);">Trainer Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <button class="nav-link" class="btn btn-outline-light"  data-toggle="modal" data-target="#exampleModal" >Add Employee</button>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
       </form>
    </div>
  </nav>
  <div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let tr of trainer" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="col-6 card-title align-self-center mb-0">
                <h5>Id : {{tr.employeeId}}</h5>
                <p class="m-0"> {{tr.empName}}</p>
             </div>
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Role : {{tr.role}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i>Password : {{tr.password}}</li>
          </ul>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
                <a  class="btn btn-primary tooltips" data-placement="top" data-toggle="modal" data-target="#edit"  data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a  class="btn btn-secondary tooltips" data-placement="top" data-toggle="modal" data-target="#delete" (click)="Edit(tr)" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div>
       </div>
       <br>
    </div>
  </div>


  <!---- Add Trainer ----->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">New Trainer</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form [formGroup]="addform" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="employeeId">Employee Id</label>
              <input [class.is-invalid]="addform.get('employeeId').invalid && addform.get('employeeId').touched" type="number" class="form-control" formControlName="employeeId" id="EmpId" aria-describedby="emailHelp" placeholder="Enter Id">
              <small id="IdHelp" class="form-text text-muted">We'll never share your Id with anyone else.</small>
              <div *ngIf="addform.get('employeeId').invalid && addform.get('employeeId').touched">
                <small *ngIf="addform.get('employeeId').errors?.required" class="text-danger">Username is required</small>
                <small *ngIf="addform.get('employeeId').errors?.minlength" class="text-danger">Username must be atleast 4 characters.</small>
              </div>
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input [class.is-invalid]="addform.get('password').invalid && addform.get('password').touched" type="password" class="form-control" formControlName="password" id="Password" placeholder="Password">
              <div *ngIf="addform.get('password').invalid && addform.get('password').touched">
                <small *ngIf="addform.get('password').errors?.required" class="text-danger">Password is required</small>
              </div>
            </div>
            <div class="form-group">
               <label for="Name">Name</label>
               <input [class.is-invalid]="addform.get('empName').invalid && addform.get('empName').touched" type="text" class="form-control" formControlName="empName" id="Name" placeholder="Name">
               <div *ngIf="addform.get('empName').invalid && addform.get('empName').touched">
                <small *ngIf="addform.get('empName').errors?.required" class="text-danger">Name is required</small>
              </div>
              </div>
             <div class="form-group">
               <label for="Role">Role</label>
               <input [class.is-invalid]="addform.get('role').invalid && addform.get('role').touched" type="text" class="form-control" formControlName="role" id="Role" placeholder="Role">
               <div *ngIf="addform.get('role').invalid && addform.get('role').touched">
                <small *ngIf="addform.get('role').errors?.required" class="text-danger">Role is required</small>
              </div>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 
 <!--Edit Trainer-->
 <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="editModalLabel">Edit Form</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form [formGroup]="editform" (ngSubmit)="onSubmitedit()">
            <div class="form-group">
              <label for="employeeId"></label>
              <input [class.is-invalid]="editform.get('employeeId').invalid && editform.get('employeeId').touched" type="number" class="form-control" formControlName="employeeId" id="EmpId" aria-describedby="emailHelp" placeholder="Enter Id">
              <small id="IdHelp" class="form-text text-muted">We'll never share your Id with anyone else.</small>
              <div *ngIf="editform.get('employeeId').invalid && editform.get('employeeId').touched">
                <small *ngIf="editform.get('employeeId').errors?.required" class="text-danger">UserId is required</small>
                <small *ngIf="editform.get('employeeId').errors?.minlength" class="text-danger">UserId must be atleast 4 characters.</small>
              </div>
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input [class.is-invalid]="editform.get('password').invalid && editform.get('password').touched" type="password" class="form-control" formControlName="password" id="Password" placeholder="Password">
              <div *ngIf="editform.get('password').invalid && editform.get('password').touched">
                <small *ngIf="editform.get('password').errors?.required" class="text-danger">Password is required</small>
              </div>
            </div>
            <div class="form-group">
               <label for="Name">Name</label>
               <input [class.is-invalid]="editform.get('empName').invalid && editform.get('empName').touched" type="text" class="form-control" formControlName="empName" id="Name" placeholder="Name">
               <div *ngIf="editform.get('empName').invalid && editform.get('empName').touched">
                <small *ngIf="editform.get('empName').errors?.required" class="text-danger">Name is required</small>
              </div>
              </div>
             <div class="form-group">
               <label for="Role">Role</label>
               <input [class.is-invalid]="editform.get('role').invalid && editform.get('role').touched" type="text" class="form-control" formControlName="role" id="Role" placeholder="Role">
               <div *ngIf="editform.get('role').invalid && editform.get('role').touched">
                <small *ngIf="editform.get('role').errors?.required" class="text-danger">Role is required</small>
              </div>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>

 <!--Delete Trainer-->
 <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Delete Trainer</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <p>Do you want to remove the specific trainer?</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
         <button type="button" (click)="Delete()" class="btn btn-primary">Yes</button>
       </div>
     </div>
   </div>
 </div>