#logout{
    float: right;
}

body{
    margin: 5%;
}

body{
    background-image: url("./coordinator-bg.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
}

h2{
    text-align: right;
}

.get{
    padding: 1%;
}

.navbar{
    margin: 1%;
}

a{
    color: cornsilk;
}